<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="http://flip2.engr.oregonstate.edu:17350/static/style.css" />
    <title>{% block title %}{% endblock %}No Refills Pharmacy</title>
    {% endblock %}
</head>


<body>
    <nav class="navbar">
    <h1><a class="navbar-brand">No Refills Pharmacy</a></h1>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/index">Inventory Home Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prescriptions">Prescriptions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pharmacists">Pharmacists</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/invoices">Invoices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/distributors">Distributors</a>
        </li>
        </ul>
    </div>
    </nav>
	<h1>Edit Invoice</h1>
    <div>
    <table border="1" cellpadding="5"> 
        <!-- Access data tuple passed from app.py -->
        {% if data %}
            <thead>
                <tr>
                    <th>PO Number</th>
                    <th>Distributor Name</th>
                    <th>Order Date</th>
                    <th>Order Cost ($)</th>
                </tr>
            <tbody>
                <!-- Now, iterate through every item in data -->
                {% for item in data %}
                <tr>
                    <!-- Then iterate through every key in the current item dictionary -->
                    {% for key in item.keys() %}
                    
                    <!-- Create a <td> element with the value of that key in it -->
                    <td>{{item[key]}}</td> {% endfor %} 
                </tr> 
                {% endfor %} 
        {% endif %} 
        </table>
        <br>
        <div id="edit">
            <form id="editInvoice" action="/edit_invoice/{{data[0].po_number}}" method="post">
                <legend><strong>Edit Invoice</strong></legend>
                <fieldset>
                <label>Distributor:</label>
                <select name="distributor">
                    <option value="0">&nbsp;</option>
                    {% for distributor in distributor_data %}
                        <option value={{distributor.distributor_name}}> {{distributor.distributor_name}}</option>
                    {% endfor %}
                    </select>
                <label>Order Date:</label>
                <input type="date" name="date">
                <label for="cost">Order Cost ($):</label>
                <input type="number" name="cost">
                </fieldset>
                <input type="submit" value="Edit Invoice" name="Edit_Invoice" class="btn btn-primary" style="margin:.5rem;">
                <a href="/invoices"><input class="btn" type="button" value="Cancel"></a>
            </form>
</html>
